<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="https://github.com/andgau/beaworld">BEA</a> 
				<ul class="nav">
					<li><a th:href="@{/search}" href="search.html"> Search And Find </a></li>
					<li><a th:href="@{/}" href="messages.html"> Otro menú </a></li>
					<li><a th:href="@{/}" href="messages.html"> Más Menú</a></li>
				</ul>
			</div>
			<div>Business Enhanced Analytics</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div>
</body>
</html>
